/*TODO:regole  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** regole */

/*? lavoro da terminare - quando la pagina non è terminata */
.workin-progres {
    text-align: center;
    position: relative;
    top: 27%;
    padding: 1%;
}

/*? font grassetto */
.font-wei-bold:hover {
    font-weight: bold;
}

/** 1350 * 850 */
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Whitney', Helvetica, Arial, sans-serif;
}

/** header */
header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: black;
    max-width: 1300px;
    margin: 0 auto;
}

.row-header {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.col-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 100%;
    text-align: center;
}

.col-menu-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.col-menu-left ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    position: relative;
    right: 11%;
}

.col-menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
}

.col-menu-right ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    position: relative;
    left: 6%;
}

.button-right button {
    padding: 7px 20px;
    border: 1px solid rgba(49, 97, 224, 255);
    background-color: rgba(49, 97, 224, 255);
    font-weight: bolder;
    color: white;
}

.button-right button:hover {
    background-color: rgb(0, 166, 255);
    text-shadow: 2px 2.5px 3px rgba(49, 97, 224, 255);
}

/** main */
main {
    width: 100%;

    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    /* height: 100vh; */
}

.bg-color-sez1 {
    background-color: rgba(49, 97, 224, 255);
}

/* titolo */
.container-title-main {
    display: flex;
    justify-content: center;
    align-content: center;
    /*  position: relative;
    top: 9%;
    left: 0; */
}

.col-title-main {
    width: 60%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.title-main h1 {
    font-size: 45px;

}

/* sezione 1 */
.container-sez1 {
    width: 100%;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 3%;
}

.row-sez1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* colonna 30% */
.col-30 {
    width: 40%;
    /* display: flex;
    text-align: center; */
    text-align: left;
    padding: 0% 5%;
    font-size: 20px;
    font-weight: bolder;
}

.paragrafo-30 {
    line-height: 25px;

}

.button-sez1 {
    color: white;
    padding: 5% 0%;
}

.button-sez1 button {
    background-color: blue;
    color: white;
    padding: 3% 2%;
    font-size: 18px;
    text-shadow: 1.5px 1.5px 2px black;
    border: none;
}

/* .para{

} */

.arrow-down i {
    display: inline-block;
    position: relative;
    top: 50px;
    font-size: 50px;
}

/* colonna 60% */
.col-60 {
    width: 59%;
    /*    display: flex;
    justify-content: center; */
}

.col-60-img {
    object-fit: cover;
    /*   position: relative;
    top:18%; */

}

.col-60-img img {
    width: 100%;
    margin: 0 auto;

}

/** sezione 2 */
.container-title-sez2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

.col-title-sez2 {
    text-align: center;
    padding-top: 10%;


}

.title-sez2 {
    font-size: 18px;
    margin-top: 3%;
    margin-left: 0%;
}

.radio {
    padding-top: 6%;
}

/* 3 colonne */
.container-3col {
    width: 100%;
    /* height: 58rem; */
    display: flex;
    align-content: center;
    padding-top: 5%;
    margin: 0 auto;
}

.row-3col {
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.col-3col {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.col-30-3col {
    width: 30%;
    justify-content: center;
    border-color: black;
    text-align: center;
    align-items: center;
    border: 1px solid black;
}

.col-top {
    border-bottom: 1px solid black;
    padding: 2%;
}

.col-top p {
    margin: 0 auto;

}

.col-top p i {
    margin: 1%;

}

.content-3col {
    text-align: left;

}

.row-content-3col {
    padding: 15%;
    line-height: 33px;

}

/* .titolo-3col {
    margin-top: 10%;

} */

.prezzo-3col {
    font-size: 18px;
}

.prezzo-3col p {
    line-height: 33px;
    font-weight: bold
}

.lightgrey-3col {
    color: rgb(174, 164, 164);

}

.opzioni-3col {
    line-height: 2em;
    width: 20em;
    display: inline;
    text-align: left;
}

/* .utente {}

.archi-3col {}

.funz-3col p {}

.button-3col {} */

.bottom-3col ul {
    list-style-type: none;
}

.bottom-3col ul i {
    color: blue;
}

/* sezione team */
.container-team {
    width: 85.8%;
    /*  height: 28rem; */
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 5%;
    margin: 0 auto;
}

.row-team {
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
}

.col-team {
    width: 100%;
}

.title-team {
    border-bottom: 1px solid black;
    padding: 1%;
}

.between-team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3%;
}

.button-team {
    width: 13em;
    background-color: rgb(70, 109, 252);
    color: white;
    padding: 5% 0%;
    font-size: 18px;
    /* text-shadow: 1.5px 1.5px 2px black; */
    border: none;
}

.para-team {
    text-align: left;
    padding-left: 3%;

}

.bolder-team {
    font-weight: bolder;
    font-size: 1.1rem;
}

.parag {
    margin-top: 2em;
    margin-bottom: 2rem;
}

/** sezione 3 */
.container-sez3 {
    width: 100%;
    /* height: 73rem; */
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 10%;
    margin: 0 auto;
}

.row-sez3 {
    display: flex;
    /*  width: 100%; 
    /* border: 1px solid red; */
}

.col-60-sez3 {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: 1px solid black; */
    /*  object-fit: cover;*/
}

.col-60-sez3 .image-60 {
    width: 100%;
    height: 45em;
    background-image: url(../img/partner.png);
    background-size: cover;
margin: 0 auto;
}

.col-40-sez3 {
    margin: 0 auto;
    width: 40%;
    padding: 11% 5% 0% 5%;
    line-height: 2em;

}

.titolo-40-sez3,
.parag-40-sez3 {
   /*  width: 76%; */
    padding: 2% 0%;
    text-align: left;
    font-weight: 700;

}

/* .parag-40-sez3{

} */

.button-sez3{
    margin: 10% auto;
    padding: 0% 0% 0% 0%;
}

.button-dimension-sez3 {
    width: 13em;
    height: 3em;
    background-color: white;
    border: 1.5px solid black;
    color: black;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-shadow: 1.5px 1.5px 2px black; */
}

/** sezione 4 */


/** footer */
footer {
    background-color: black;
    color: white;
    /*  display: flex;
    align-content: center;
    justify-content: center; */

}

.row-footer {
    background-color: burlywood;
    text-align: left;
    margin: 0 auto;

    /* border: 1px solid white;
    width: 70%; */
}

.col-footer {
    /*  width: 100%; */
    display: flex;
    align-items: center;

}

.col-menu-footer {
    /* height: 250px; */
    background-color: black;
    width: 25%;
}

/** sezioni */
.titolo-footer {
    text-align: left;
    padding-top: 26%;

}

.lista-footer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12% 0% 0% 12%;
}

.lista-footer ul {
    list-style-type: none;
}